.card {
    width: 250px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #F3F2F2;
    overflow: hidden;
    margin: 0 auto;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.avatar {
    width: 100px;
    background-color: #292929;
    border-radius: 50%;
    margin-bottom: 10px;
}

.username {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
}

.tag {
    color: gray;
}

.statsList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DCDCDC;
}

.statsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid grey;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}

.statsItem:not(:last-child) {
    border-right: 3px solid grey;
}

.label {
    font-weight: 500;
    color: #3C3C3C;
}

.quantity {
    font-size: 16px;
    font-weight: 600;
}